body {
    background-image: url("/images/depositphotos_55426393-stock-photo-light-grey-background.jpg");
    background-size: cover;
}

.banner {
    background-image: url('/images/himmel-wolken-wetter-hintergrund-1597685110QCU.jpg');
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 75px;
    padding-top: 15px;
}

.navStyle {
    height:30px;
}

.scaleDescription {
    margin-top: 40px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

div {
    text-align: center;
}
.formstyle {
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    border-radius: 10px;
    width: 20vw;
    height: 25vh;

}

li {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    font-size: 16px;
}
.piclink{
    border-radius: 10px;
    width: 2vw;
    height: 2vh;
}